@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --primary-color: #AA77FF;
    --dark-color: #66347F;
    --light-color: #97DEFF;
    --lose-color: #5D9C59;
    --win-color: #2F58CD;
    --modal-duration: 2s;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-image: url("gameimage2.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn{
    display: none;
    background: var(--light-color);
    color: #333;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1.5rem;
    border-radius: 20px;
}

.restart-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
    
    border-radius: 20px;
}

.header{
    text-align: center;
    margin: 1rem 0;
}
.header h1{
    margin-bottom: 1rem;
    color:red;
   
    font-size: xx-large;
   
    
    
}

.score{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.2rem;
    color: #ffffff;
}

.score p:first-child{
    background: var(--primary-color);
    font-size: 20px;
}

.score p:last-child{
    background: var(--dark-color);
    font-size: 20px;
}

.choices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.1rem;
    margin-top: 10rem;
    text-align: center;
}

.choice{
    cursor: pointer;
}

.choice:hover{
    color: var(--primary-color);
}

.text-win{
    color: var(--win-color);
}
.text-lose{
    color: var(--lose-color);
}


.modal{
    display:none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-image: url(rockimage2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 10% auto;
    width: 290px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name:modalopen ;
    animation-duration: var(--modal-duration);
}

.modal-content h1{
    margin-bottom: 1rem;
}

.modal-content p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

@keyframes modalopen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}